<div class="main-wrapper">
  <div class="page-wrapper full-page">
    <div class="page-content d-flex align-items-center justify-content-center">

      <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-6 mx-auto">
          <div class="card">
            <div class="row">
              <div class="col-md-4 pr-md-0">
                <div class="auth-left-wrapper">
                </div>
              </div>
              <div class="col-md-8 pl-md-0">
                <div class="auth-form-wrapper px-4 py-5">
                  <a class="noble-ui-logo d-block mb-2">Admin<span>UI</span></a>
                  <h5 class="text-muted font-weight-normal mb-4">Log in to your account.</h5>
                  <form [formGroup]="loginForm" class="forms-sample" (ngSubmit)="login()">

                    <div class="form-group" [ngClass]="{ 'has-danger': isSubmitted && formControls.email.errors }">
                      <label for="inputEmail">Email address</label>
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                        formControlName="email">
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-danger': isSubmitted && formControls.password.errors }">
                      <label for="inputPassword">Password</label>
                      <input type="password" class="form-control" id="inputPassword" autocomplete="current-password"
                        placeholder="Password" formControlName="password">
                    </div>
                    <div class="form-check form-check-flat form-check-primary">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                      </label>
                    </div>
                    <div class="mt-3">
                      <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                    <a [routerLink]="['/register']" class="d-block mt-3 text-muted">Not a user? Sign up</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
