<nav class="sidebar">
  <div class="sidebar-header">
    <a href="#" class="sidebar-brand">
      Admin<span>UI</span>
    </a>
    <div class="sidebar-toggler" [ngClass]="{'active':showSidebar, 'not-active':!showSidebar}"
      (click)="toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="sidebar-body">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/dashboard']" class="nav-link">
          <i class="link-icon" data-feather="box"></i>
          <span class="link-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/network']" class="nav-link">
          <i class="link-icon" data-feather="box"></i>
          <span class="link-title">Network</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<nav class="settings-sidebar">
  <div class="sidebar-body">
    <a (click)="toggleThemeSelection()" class="settings-sidebar-toggler">
      <i data-feather="settings"></i>
    </a>
    <h6 class="text-muted">Sidebar:</h6>
    <div class="form-group border-bottom">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sidebarThemeSettings" id="sidebarLight"
            value="sidebar-light" checked (change)="handleChange($event.target.value)">
          Light <i class="input-frame"></i>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sidebarThemeSettings" id="sidebarDark" value="sidebar-dark"
            (change)="handleChange($event.target.value)">
          Dark <i class="input-frame"></i>
        </label>
      </div>
    </div>
    <div class="theme-wrapper">
      <h6 class="text-muted mb-2">Light Theme:</h6>
      <a class="theme-item active" (click)="themeChangeHandler('light')">
        <img src="../assets/images/screenshots/light.jpg" alt="light theme">
      </a>
      <h6 class="text-muted mb-2">Dark Theme:</h6>
      <a class="theme-item" (click)="themeChangeHandler('dark')">
        <img src="../assets/images/screenshots/dark.jpg" alt="dark theme">
      </a>
    </div>
  </div>
</nav>
